@charset "UTF-8";
/* CSS Document */

#window  {
	width: 100%;
	max-width: 570px;
	min-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.message {
	padding: 5px 10px 0px 10px;
	margin-left: 40px;
}

.announce {
	background: #eeeeee; 
}

.center {
	text-align: center;
}

#name, strong {
	font-weight: bold;
	margin-bottom: 0;
}

#time {
	float: right;
	color: #999;
}

#avatar {
	float: left;
	margin-left: -40px;
	width: 32px;
	height: auto;
}

p {
	margin-bottom: 10px;
}

div.message>p {
	min-height: 10px;
	line-height:1.2;
}

#input {
	width: 100%;
	height: 30px;
	max-width: 490px;
	min-width: 100px;
	border: 1px solid #ffffff;
	font-size: 11pt;
}

#input:focus {
    outline: 0;
}

#jetzt {
	margin-bottom: 20px;
}