extends index

block content
    div.message.announce
        div#time
        p.
            <strong>Welcome!</strong><br />
            <strong>.w</strong> - who - who is here?<br />
            <strong>.h</strong> - help - show (this) helpscreen. <br />
            <strong>.c</strong> - che cazzo - a form of Italian cursing. <br />
    div.message
        img#avatar(src='images/be.png')
        div#time
        p#name Bender
        p.
            Buongiorno!<br />
            I wan't to become a real robot one day.<br />
            Until them I'm a HTML+CSS+JS mockup of a real robot.
    
    
    div.message#jetzt(style='padding-bottom: 50px')
        img#avatar(src='images/ma.jpg')
        form#send(method="post")
            input#input(type='text', autocomplete='off', name="title")
