doctype 5
html
	head
		meta(charset="utf-8")
		title= "T"
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-1.10.0.min.js')
		script(type='text/javascript', src='/javascripts/script.js')
		script(type='text/javascript', src='/javascripts/jquery.form.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script.
			var socket = io.connect('#{conf.url}');
			
			/*socket.on('news', function (data) {
				//console.log(data.hello);
				$(document).ready(function() {
					//$("#main").html(data.hello);
					$("#jetzt").before('<div class="message"><img src="images/drm.jpg" id="avatar" /><div id="time">10:10</div><p id="name">'+name+'</p><p>'+data.hello+' <a href="#" class="tag">#Trappeto</a></p></div>');

				});
			});

			$(document).ready(function() {
				$('#send').ajaxForm(function() { 
				var input = $('#input');
				socket.emit('news', { text: input.val() });
				input.val('');
				//socket.emit('second', { my: 'Tere Maailm' });
				}); 
			});*/
		meta(viewport='width=device-width')
		meta(id='extViewportMeta', viewport='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		meta(apple-mobile-web-app-capable='yes')
		meta(apple-mobile-web-app-status-bar-style='black')
	body
		div#window
			div.message#message1 <!--Ühendatud meie.tallinn.ee:3000<br>-->Kasutajanimi:<br>
				form#login
					input#username(type='text', value='', autocomplete='off', style='border: 1px solid #999;')
			div.message.announce.hidden
				div#time
				p.
					<strong>Welcome!</strong><br />
					<strong>.w</strong> - who - who is here?<br />
					<strong>.h</strong> - help - show (this) helpscreen. <br />
					<strong>.c</strong> - che cazzo - a form of Italian cursing. <br />
			div.message.hidden
				img#avatar(src='images/be.png')
				div#time
				p#name Bender
				p.
					Buongiorno!<br />
					I wan't to become a real robot one day.<br />
					Until them I'm a HTML+CSS+JS mockup of a real robot.
			div.message.hidden#jetzt
				img#avatar(src='images/drm.jpg')
				form#send
					input#input(type='text', autocomplete='off')
			//block content