doctype 5
html
	head
		meta(charset="utf-8")
		title= "T"
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/fonts.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-1.10.0.min.js')
		script(type='text/javascript', src='/javascripts/script.js')
		script(type='text/javascript', src='/javascripts/jquery.form.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		audio#ping1(preload='auto', src='/sounds/ping.mp3')        
		script.
			var socket = io.connect('#{conf.url}');
		meta(viewport='width=device-width')
		meta(id='extViewportMeta', viewport='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		meta(apple-mobile-web-app-capable='yes')
		meta(apple-mobile-web-app-status-bar-style='black')
	body
		a(href='https://github.com/451ee/t')
			img(src='/images/forkme_right_gray_6d6d6d.png', style='position: absolute; top: 0; right: 0; border: 0;', alt='Fork me on GitHub')    
		div#window
			div.message#message1 <!--Ühendatud meie.tallinn.ee:3000<br>-->Kasutajanimi:<br>
				form#login
					input#username(type='text', value='', autocomplete='off', style='border: 1px solid #999;')
			div.message.announce.hidden
				div#time
				p.
					<strong>Welcome!</strong><br />
					<strong>w</strong> - who - who is here?<br />
					<strong>h</strong> - help - show (this) helpscreen. <br />
					<strong>c</strong> - che cazzo - a form of Italian cursing. <br />
			div.message.hidden
				img#avatar(src='images/be.png')
				div#time
				p#name 
					strong="Server"
				p.
					Buongiorno!<br />
					<!--This is a talker without a database. <br />-->
			div.message.hidden#jetzt
				img#avatar(src='images/drm.jpg')
				form#send
					input#input(type='text', autocomplete='off')
			div#rooms

			//block content