body
    margin: 0 10px 10px 0
    font-family: avenir, arial, helvetica, sans-serif
    //background: url('../images/demo/westferry.jpg')
    background-size: cover

#window
	width: 100%
	max-width: 570px
	min-width: 100px
	margin-left: auto
	margin-right: auto

.message 
	padding: 5px 10px 0px 10px
	margin-left: 40px

.announce 
	background: #eeeeee 

.hidden 
	display: none

.center 
	text-align: center

strong, b 
    font-family: avenirBold, Helvetica, Arial, sans-serif
    font-weight: bold

.tag
    color: #999
    text-decoration: none

#time 
	float: right
	color: #999

#avatar 
	float: left
	margin-left: -40px
	width: 32px
	height: auto

p 
	margin-bottom: 10px

div.message>p 
	min-height: 10px
	line-height:1.2
	margin-bottom: 0

div.message>p#name 
    font-family: avenirBold, Helvetica, Arial, sans-serif
	font-weight: bold
	margin-bottom: 0


#input, #username 
	width: 100%
	height: 30px
	max-width: 490px
	min-width: 100px
	border: 1px solid #ffffff
	font-size: 11pt

#input:focus 
    outline: 0

#jetzt 
	margin-bottom: 20px
    
    
// Fonts    
@font-face {
    font-family: 'avenirBold';
    src: url('../fonts/avenirltstd-black-webfont.eot');
    src: url('../fonts/avenirltstd-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirltstd-black-webfont.woff') format('application/x-font-woff'),
         url('../fonts/avenirltstd-black-webfont.ttf') format('font/truetype'),
         url('../fonts/avenirltstd-black-webfont.svg#avenir_lt_std_65_mediumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenir';
    /*src: url('../fonts/avenirltstd-medium-webfont.eot');*/
    src: url('../fonts/avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirltstd-medium-webfont.woff') format('application/x-font-woff'),
         url('../fonts/avenirltstd-medium-webfont.ttf') format('font/truetype'),
         url('../fonts/avenirltstd-medium-webfont.svg#avenir_lt_std_65_mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

